.logo{
  width:64px;
  margin-top : 5px ;
}
#leftForm{
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  float: left;
  clear:both;
  width: 15cm;
  height: 15em;
  margin-bottom: 1em;
}
#UserTable {
  margin: 0 0 ;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
#UserTable td, #UserTable th {
  border: 2px solid #ddd;
  padding: 10px;
}
#UserTable tr:nth-child(even){background-color: #f2f2f2;}

#UserTable tr:hover {background-color: #ddd;}

#UserTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #b71a1a;
  color: white;
}
.UsersButtonCss{
  color: black;
  display: block;
}
.LoginButtonCss{
  color: black;
  display: block;
}
.Logo {
  background-image: url(components/logo.png);
  width:64px;
  margin-top : 5px ;
}
.modal{
  height: auto;
}
.input-group-text{
  border-color: #5cb85c;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.form-control{
  box-shadow: blue;
  border: 1px solid #ccc;
  -webkit-box-shadow: none;
  display: inline-block;
}
.app{
  min-height: 100vh;
  background-color: #8395af;
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-direction: row;
}
.case0{
  color: #ffffff;
  font-size: 40px;
}
.case1 {
  color : #00f;
  font-size: 40px;
}
.case2{
  color: #00a;
  font-size: 40px;
}
.case3{
  color:#005;
  font-size: 40px;
}
.nav{
  margin: 0;
  padding: 0;
  min-height: 5vh;
  background-color: aqua;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  list-style: none;
}

