.logo{
  width:64px;
  margin-top : 5px ;
}
.UsersButtonCss{
  color: black;
  display: block;
}
.LoginButtonCss{
  color: black;
  display: block;
}
.Logo {
  background-image: url(./logo.png);
  width:64px;
  margin-top : 5px ;
}
.modal{
  height: auto;
}
.app{
  min-height: 100vh;
  background-color: #8395af;
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-direction: row;
}
.case0{
  color: #ffffff;
  font-size: 40px;
}
.case1 {
  color : #00f;
  font-size: 40px;
}
.case2{
  color: #00a;
  font-size: 40px;
}
.case3{
  color:#005;
  font-size: 40px;
}
.nav{
  margin: 0;
  padding: 0;
  min-height: 5vh;
  background-color: aqua;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  list-style: none;
}

